Spring-Integration-Example-1/src/main/xsds/OrderData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/OrderData" xmlns:tns="http://www.example.org/OrderData"
	elementFormDefault="qualified">
	<xs:element name="Order">
		<xs:complexType>
			<xs:all>
				<xs:element name="orderID" type="xs:string"/>
				<xs:element name="description" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>